# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk
online-taxi-public/api-passenger/target/classes/com/mashibing/apipassenger/controller/VerificationCodeController.class
online-taxi-public/api-passenger/target/classes/com/mashibing/apipassenger/request/VerificationCodeDTO.class
online-taxi-public/api-passenger/target/classes/com/mashibing/apipassenger/service/VerificationCodeService.class
online-taxi-public/service-price/target/
online-taxi-public/internal-common/target/
online-taxi-public/api-passenger/target/
